<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}"
      name="description"/>
<meta , content="{{ with .Params.Keywords }}{{ delimit . "
      name="keywords" " }}{{ else }}{{ $.Site.Params.Keywords }}{{ end }}" />
{{ if .Params.noindex }}
{{ if or (eq (.Param "noindex") true) (eq (.Param "noindex") "true") }}
<meta content="noindex" name="robots"/>
{{ end }}
{{ else }}
<meta content="noodp" name="robots"/>
{{ end }}
<link href="{{ .Permalink }}" rel="canonical"/>

{{ template "_internal/google_analytics.html" . }}

{{ $defaultStylesTemplate := resources.Get "css/style.scss" }}
{{ $defaultStyles := $defaultStylesTemplate | resources.ExecuteAsTemplate "main.scss" .}}
<!-- Local Theme Variables -->
{{ if and (isset .Params "color") (not (eq .Params.color "")) }}
{{ $localColorCss := resources.Get (printf "css/color/%s.scss" .Params.color) }}
{{ $localCss := slice $localColorCss $defaultStyles | resources.Concat (printf "css/%s-local.scss" .Params.color) }}
{{ $options := (dict "transpiler" "libsass") }}
{{ $localColorStyles := $localCss | css.Sass $options }}
<link href="{{ $localColorStyles.Permalink }}" rel="stylesheet">
{{ else }}
<!-- Theme Variables -->
{{ $colorCss := resources.Get (printf "css/color/%s.scss" ($.Site.Params.ThemeColor | default "blue")) }}
{{ $css := slice $colorCss $defaultStyles | resources.Concat "css/base.scss" }}
{{ $options := (dict "transpiler" "libsass" "targetPath" "styles.css" "outputStyle" "compressed" "enableSourceMap" true "precision" 6 "includePaths" (slice "node_modules")) }}
{{ $styles := $css | css.Sass $options }}
<link href="{{ $styles.Permalink }}" rel="stylesheet">
{{ end }}

<!-- Custom CSS to override theme properties (/static/style.css) -->
{{ if (fileExists "static/style.css") -}}
<link href="{{ " rel="stylesheet" style.css" | absURL }}">
{{- end }}

<!-- Icons -->
{{ if isset $.Site.Params "favicon" }}
<link href="{{ $.Site.Params.favicon | absURL }}" rel="shortcut icon">
{{ else }}
<link href="{{ printf " img
      rel="shortcut icon"/theme-colors/%s.png" (or .Params.color $.Site.Params.ThemeColor | default "orange") | absURL }}">
<link href="{{ printf " img
      rel="apple-touch-icon"/theme-colors/%s.png" (or .Params.color $.Site.Params.ThemeColor | default "orange") | absURL }}">
{{ end }}

<!-- Twitter Card -->
<meta content="summary" name="twitter:card"/>
{{ if (isset $.Site.Params "twitter") }}
{{ if (isset $.Site.Params.Twitter "site") }}
<meta content="{{ $.Site.Params.Twitter.site }}" name="twitter:site"/>
{{ end }}
<meta authortwitter content="{{ if .IsHome }}{{ $.Site.Params.Twitter.creator }}{{ else if isset .Params "
      name="twitter:creator"" }}{{ .Params.authorTwitter }}{{ else }}{{ .Params.Author }}{{ end }}" />
{{ end }}

<!-- OG data -->
<meta content="{{ $.Site.Language.Lang }}" property="og:locale"/>
<meta content="{{ if .IsPage }}article{{ else }}website{{ end }}" property="og:type"/>
<meta content="{{ if .IsHome }}{{ $.Site.Title }}{{ else }}{{ .Title }}{{ end }}" property="og:title">
<meta content="{{ if .IsHome }}{{ $.Site.Params.Subtitle }}{{ else if .Description}}{{ .Description | plainify }}{{ else }}{{ .Summary | plainify }}{{ end }}"
      property="og:description"/>
<meta content="{{ .Permalink }}" property="og:url"/>
<meta content="{{ $.Site.Title }}" property="og:site_name"/>
{{ if (isset .Params "cover") }}
{{ $pageCover := .Param "cover" }}
{{ with (.Resources.GetMatch (.Param "cover")) }}
{{ $pageCover = .RelPermalink }}
{{ end }}
<meta content="{{ $pageCover | absURL }}" property="og:image">
{{ else }}
{{ if isset $.Site.Params "favicon" }}
<meta content="{{ $.Site.Params.favicon | absURL }}" property="og:image">
{{ else }}
<meta content="{{ printf " img property="og:image"/favicon/%s.png" $.Site.Params.ThemeColor | absURL }}">
{{ end }}
{{ end }}
<meta content="1200" property="og:image:width">
<meta content="627" property="og:image:height">
{{ range .Params.categories }}
<meta content="{{ . }}" property="article:section"/>
{{ end }}
{{ if isset .Params "date" }}
<meta content="{{ time .Date }}" property="article:published_time"/>
{{ end }}

<!-- RSS -->
{{ with .OutputFormats.Get "RSS" }}
<link href="{{ .RelPermalink }}" rel="alternate" title="{{ $.Site.Title }}" type="application/rss+xml"/>
{{ end }}

<!-- JSON Feed -->
{{ with .OutputFormats.Get "json" }}
<link href="{{ .RelPermalink }}" rel="alternate" title="{{ $.Site.Title }}" type="application/json"/>
{{ end }}

<!-- Extended head section-->
{{ partial "extended_head.html" . }}
